<!doctype html>
<html>
<head>
    <title>Hosting</title>
    <!-- Default Header -->
    {{> default}}
    <!-- End Default Header -->
    <!-- Host Header -->
    {{>hostTemplate}}
    <!-- End Host Header -->
    <script src="/js/host.js"></script>
<!--     <style type="text/css"> 
    #friendName{
        color: #000080; 
    }
</style> -->
</head>
<body>  
   <center>
    <p id="chillin"></p>
    <script>
        console.log("song is:" + sessionStorage.songs);
    </script>

    <div id="titleBar">
        <!-- <a href="hostSong"> -->
            <!-- <a href="hostSong"> -->

                <div id="back-container">
                    <h1 class="display-4"><</h1>
                </div>
                <script>
                    document.getElementById("back-container").addEventListener("click", goHostSong);
                    function goHostSong(){
                        window.location.href = 'hostSongB'; //ABTesting change
                    }
                </script>
            <!-- </a> -->
            <div id="title-container">
                <h1 id="title">Hosting</h1>
            </div>
        </div>




        <div id="middle2">
            <div id="instructions" >
                <p class="lead on-air" id="instructions-txt">● ON AIR</p>
                <p class="lead" id="instructions-txt-id">
                </p>
            </div>

            <div id="top-buttons">
                <button type="button" class="btn btn-outline-info" id="listen-btn">Your Listeners</button>

                <button type="button" class="btn btn-outline-info" id="queue-btn">Queue</button>
            </div>

            <div id="albumArt">
                <img src="/img/album.png" id="img">
                <script>
                    sessionStorage.setItem("songImg","/img/" + sessionStorage.songs + ".png");
                    document.getElementById("img").src = "/img/" + sessionStorage.songs + ".png";
                </script>
            </div>
        </div>
        <div id="bottomPlayer">
            <div id="songInfo">

                <h1 class="display-4" id="songTitle">
                </h1>
                <p class="lead" id="songDet">
                </p>


                <script>
                    var input = 'artist'+ sessionStorage.songs;
                    var artist = sessionStorage.getItem(input);
                    input = 'album'+ sessionStorage.songs;
                    var album = sessionStorage.getItem(input);

                    input = 'title' + sessionStorage.songs;

                    // console.log("input is: " + 'songList' + sessionStorage.songs);
                    var title = sessionStorage.getItem(input);
                    // console.log("title is: " + title);

                    document.getElementById("songTitle").innerHTML=title;

                    // console.log("It works: "+ artist);
                    document.getElementById("songDet").innerHTML = artist + " - " + album;
                </script>
            </div>

            <div id="audio">
                <audio controls id="crt" autoplay>
                    <source src="/songs/rockstar.mp3" type="audio/mpeg" id="player">
                    </audio>
                    <script>
                        document.getElementById("player").src = "/songs/" + sessionStorage.songs + ".mp3";
                    </script>
                </div>


                <div id="playerControls">
                    <div id="playerButtons" class="btn-group-lg" role="group" aria-label="Basic example">
                        <div id="prevContainer">
                            <button type="button" class="btn btn-secondary" id="player-btn-prev">l◄</button>
                        </div>
                        <div id="pauseContainer">
                            <button type="button" class="btn btn-secondary" id="player-btn-pause">II</button>
                        </div>

                        <div id="nextContainer">
                            <button type="button" class="btn btn-secondary" id="player-btn-next">►l</button>
                        </div>
                    </div>
                </div>
                <script>
                    var songs = sessionStorage.songs;
                    songs = parseInt(songs, 10);
                    var totalSongs = sessionStorage.totalSongs;
                    totalSongs = parseInt(totalSongs, 10);
                    if(songs >= totalSongs){
                        // document.getElementById('player-btn-next').disabled = true;
                    }
                    if(sessionStorage.songs <= 1){
                        document.getElementById('player-btn-prev').disabled = true;
                    }
                </script>
            </div>





            <form name="myForm" id="hosting-form" role="form" method="get" action="/add">

                <input type="text" name="hostName">
                <input type="text" name="hostCode">
                <input type="text" name="hostPic">
                <input type="text" name="songTitle">
                <input type="text" name="artist">
                <input type="text" name="album">
                <input type="text" name="songImg">
                <input type="text" name="songID">
                <input type="text" name="friends">
                <input type="submit" id="clickButton" onsubmit="return false">

            </form>
            <script>

                    //this fills out the form 
                    document.forms["myForm"]["hostName"].value = "New User";
                    document.forms["myForm"]["hostCode"].value = sessionStorage.sessionID;
                    document.forms["myForm"]["hostPic"].value = "/img/filler_profile.png";
                    document.forms["myForm"]["songTitle"].value = sessionStorage.songsTitle;
                    document.forms["myForm"]["artist"].value = sessionStorage.songsArtist;
                    document.forms["myForm"]["album"].value = sessionStorage.songsAlbum;
                    document.forms["myForm"]["songImg"].value = sessionStorage.songImg;
                    document.forms["myForm"]["songID"].value = sessionStorage.songs;
                    document.forms["myForm"]["friends"].value = sessionStorage.friends; 

                    // console.log("right before form submission in hosting.handlebars");

                    var button = document.getElementById('clickButton');
                    // e.preventDefault();
                    var str = sessionStorage.hostingSendButtonDisable;
                    if(str === "false"){
                        // console.log("this is where the button should submit");
                        button.form.submit();
                    }

                    sessionStorage.hostingSendButtonDisable = "true";

                    // console.log("right after form submission in hosting.handlebars");

                    // console.log("heelllo there: endof form submission in hosting.handlebars");
                    // console.log("Query host name is: " + document.forms["myForm"]["songID"].value);
                    // 
                </script>

                <div id="canvas">
                </div>

                <div id="background-overlay">
                </div>

                <div id="friendsOverlay">
                    <p id="chillin"></p>
                    <div id="titleBar-overlay">
                        <button id="back-container-overlay">
                            <h1 class="display-4"><</h1>
                        </button>
                        <div id="title-container">
                            <h1 id="title">Your Listeners:</h1>
                        </div>
                    </div>
                    <div id="middle-overlay">

                        <div id="friend-list-overlay">
                            {{#each friend}}
                            <div class="friend-overlay" id="friend{{id}}" tag="overlay{{id}}">
                                <div id="friendImgContainer-overlay">
                                    <img src={{imageURL}} id="hello">
                                </div>
                                <div id="friendNameContainer-overlay">
                                    <p class="h5 friendName{{id}}" id="friendName">{{name}}</p>
                                </div>
                            </div>
                            <br>
                            {{/each}}

                            <script type="text/javascript">
                                //get total number of friends used
                                var maxFriends = sessionStorage.getItem("maxFriends");
                                maxFriends = parseInt(maxFriends, 10);
                                var toRemove = [];
                                var toKeep = [];
                                    //make a list of friends to keep
                                    for(var i = 0; i < maxFriends; i++){
                                        var addedFriend = sessionStorage.getItem("addedFriend" + i);
                                        addedFriend = parseInt(addedFriend, 10);
                                        toKeep.push(addedFriend);
                                    }

                                    //make a list of friends to remove
                                    var totalFriends = sessionStorage.getItem("totalFriends");
                                    totalFriends = parseInt(totalFriends, 10);

                                    for(var i = 1; i <= totalFriends; i++){
                                        if(toKeep.includes(i)){

                                        } else {
                                            toRemove.push(i);
                                        }
                                    }

                                    for(var i = 0; i < toRemove.length; i++){
                                        var input = "friend" + toRemove[i];
                                        var element = document.getElementById(input.toString());
                                        if (element != null) {
                                            element.remove();
                                        } else {
                                            console.log(input + " is null");
                                        }
                                    }
                                </script>
                            </div>
                        </div>
                    </div>


                    <!-- Below is for your queue -->
                    <div id="queueOverlay">
                        <p id="chillin"></p>
                        <div id="titleBar-overlay">
                            <button id="back-container-overlay-queue">
                                <h1 class="display-4"><</h1>
                            </button>
                            <div id="title-container">
                                <h1 id="title">Your Queue:</h1>
                            </div>
                        </div>
                        <div id="middle-overlay">

                            <div id="queue-list-overlay">
                                {{#each songs}}
                                <div class="friend-overlay" id="song{{id}}">
                                    <div id="friendImgContainer-overlay">
                                        <img src={{imageURL}} id="hello">
                                    </div>
                                    <div id="friendNameContainer-overlay">
                                        <p class="h5 friendName{{id}}" id="friendName">{{name}}</p>
                                    </div>

                                    <div id="songDetails">
                                      <p class="artist"> {{artist}}</p>
                                      <p class="album">{{album}}</p>
                                  </div>
                              </div>
                              <br>
                              {{/each}}
                              {{#each songs}}
                              <div class="friend-overlay" id="song{{id}}">
                                <div id="friendImgContainer-overlay">
                                    <img src={{imageURL}} id="hello">
                                </div>
                                <div id="friendNameContainer-overlay">
                                    <p class="h5 friendName{{id}}" id="friendName">{{name}}</p>
                                </div>

                                <div id="songDetails">
                                  <p class="artist"> {{artist}}</p>
                                  <p class="album">{{album}}</p>
                              </div>
                          </div>
                          <br>
                          {{/each}}                        
                          {{#each songs}}
                          <div class="friend-overlay" id="song{{id}}">
                            <div id="friendImgContainer-overlay">
                                <img src={{imageURL}} id="hello">
                            </div>
                            <div id="friendNameContainer-overlay">
                                <p class="h5 friendName{{id}}" id="friendName">{{name}}</p>
                            </div>

                            <div id="songDetails">
                              <p class="artist"> {{artist}}</p>
                              <p class="album">{{album}}</p>
                          </div>
                      </div>
                      <br>
                      {{/each}}

                  </div>
              </div>
          </div>

          <!-- Above if your your queue -->


      </center>

      <script>
        function added() {
          document.getElementById("addFont").innerHTML = "Added";
          $("#addFont").css("background-color", "lightgreen");
          $("#addList").css("left", "50%");
      }
      function invited(){
        document.getElementById("inviteText").innerHTML = "Invited";
        $("#inviteFriend").css("background-color", "lightgreen");
    }
            //autoplay next song
            var aud = document.getElementById("crt");
            aud.onended = function() {
                var prev = sessionStorage.songs;
                sessionStorage.newStream = "false";

                var min=1; 
                var max=sessionStorage.totalSongs;
                max = parseInt(max, 10);
                var random =Math.floor(Math.random() * (+max - +min)) + +min; 
                console.log("randomSong: " + random);

        //make sure no repeats
        while(prev === random){
            var min=1; 
            var max=sessionStorage.totalSongs;
            max = parseInt(max, 10);
            var random =Math.floor(Math.random() * (+max - +min)) + +min; 
            console.log("randomSong: " + random);
        }

        sessionStorage.songs = random;
        console.log( "next to: " + sessionStorage.songs);
        // document.getElementById("player").src = "/songs/" + sessionStorage.songs + ".mp3";

        window.location.href = 'hosting'; 
    };

</script>


<script>
  if (typeof(Storage) !== "undefined") {
    var storaged = sessionStorage.hello;
    console.log(storaged);
} else {
    console.log("Sorry, your browser does not support web storage...");
}


document.getElementById("instructions-txt-id").innerHTML = "You session ID: " + sessionStorage.sessionID;




</script>


</body>
</html>



