<!doctype html>
<html>
<head>
    <title>Start Host Page</title>
    <!-- Default Header -->
    {{> default}}
    <!-- End Default Header -->

    <!-- Host Header -->
    {{>hostTemplate}}
    <!-- End Host Header -->
    
    <script src="/js/host.js"></script>
</head>
<body>   
    <center>
        <p id="chillin"></p>
        <div id="titleBar">
            <a href="home">
                <div id="back-container">
                    <h1 class="display-4"><</h1>
                </div>
            </a>
            <div id="title-container">
                <h1 id="title">Host a Session:</h1>
            </div>
        </div>
        <div id="middle">
            <div id="instructions" >
                <p class="lead" id="instructions-txt">
                    1. Select your listeners:
                </p>
            </div>
            <div id="friend-list">
                <script>
                    sessionStorage.totalFriends = "0";
                </script>

                {{#each friend}}
                <script>
                    sessionStorage.setItem('friend{{id}}', JSON.stringify(['{{name}}',"{{description}}",'{{imageURL}}','{{id}}',"{{slected}}"]));
                    var totalFriends = sessionStorage.getItem("totalFriends");
                    totalFriends= parseInt(totalFriends, 10);
                    totalFriends++;
                    sessionStorage.setItem("totalFriends", totalFriends);
                </script>
                <div class="friend" id="friend{{id}}">
                    <div id="friendImgContainer">
                        <img src={{imageURL}} id="hello">
                    </div>
                    <div id="friendNameContainer">
                        <p class="h5 friendName{{id}}" id="friendName">{{name}}</p>
                    </div>
                </div>
                <br>
                {{/each}}



<!--                 <div class="friend" id="inviteFriend">
                    <div id="friendImgContainer">
                        <img src="/img/filler_profile.png" id="hello">
                    </div>
                    <div id="friendNameContainer">
                        <p class="h5 friendName" id="friendName">Invite Friends +</p>
                    </div>
                </div>
                <br>
 -->


                <script type="text/javascript">
                    for(var i = 0; i <= parseInt(sessionStorage.totalFriends,10); i++){
                        sessionStorage.removeItem("addedFriend" + i);
                    }
                </script>
            </div>
        </div>

        <div id="bottomBar">
            <button type="button" class="block" id="bottom-txt">
                Continue to Song Selection
            </button>
        </div>


    </center>

    <script>

        function added() {
          document.getElementById("addFont").innerHTML = "Added";
          $("#addFont").css("background-color", "lightgreen");
          $("#addList").css("left", "50%");
      }
      function invited(){
        document.getElementById("inviteText").innerHTML = "Invited";
        $("#inviteFriend").css("background-color", "lightgreen");
    }
    </script>


    <!-- This js script block will create the songJSON in session storage -->
    <script>
        sessionStorage.tempItem = 0;  
        var tempNum = sessionStorage.tempItem;
        {{#each songs}}      
        //count incase if totalSongs doesn't exist
        tempNum = parseInt(tempNum, 10);
        tempNum++;
        sessionStorage.tempItem = tempNum;

        sessionStorage.setItem('songJSON{{id}}', JSON.stringify(['{{name}}',"{{artist}}","{{album}}",'{{imageURL}}','{{id}}']));

        {{/each}}
    </script>
    <script>
        if(sessionStorage.getItem("totalSongs") === null || sessionStorage.getItem("tempItem") !== null){
            console.log("setting total number of songs: " + sessionStorage.tempItem);
            sessionStorage.totalSongs = sessionStorage.tempItem;
            sessionStorage.tempItem = 0;
        }
    </script>




    <!-- This js block will auto generate the queue and shuffle queue in session storage  -->
    <script>
        var totalSongs = 0;
        if(sessionStorage.getItem("totalSongs") !== null){
            totalSongs = sessionStorage.totalSongs;     //get total number of songs
        }
        totalSongs = parseInt(totalSongs, 10);          // get the int value of total songs

        //set up the regular queue
        var queue = [];
        var sindex = 1;
        for(var i = 0; i < 30; i++){
            queue[i] = sindex;
            sindex++;
            if(sindex > totalSongs){                   //make sure songs in the queue doesn't go above total songs
                sindex = 1;
            }
        }
        sessionStorage.setItem("queue", JSON.stringify(queue));

        var shufflequeue = [];

        //get random number
        var min=1; 
        var max=totalSongs; 

        for(var i = 0; i < 30; i++){
            var random = Math.random() * (+max - +min) + +min;      //get random in range
            random = parseInt(random, 10);   //turn random from double to int

            var repeated = true;
            while(repeated === true){
                repeated = false;               //set no repeat
                if(i > 1){                      //start checking after first element
                    for(var check = i - 10; check < i; check++){         //check between the past 10 random elemnts
                        if(check < 1){
                            //skip
                        } else {                                         //check between the past 10 random elements
                            if(random === shufflequeue[check]){     //if random is equal to one of the past 10 elements
                                //generate a new random number
                                var random = Math.random() * (+max - +min) + +min;      //get random in range
                                random = parseInt(random, 10);   //turn random from double to int
                                repeat = true;                  //set repeat to true
                            }
                        }

                    }
                }
            }

            shufflequeue[i] = random;           //set the random song
        }


        sessionStorage.setItem("shufflequeue", JSON.stringify(shufflequeue));
        sessionStorage.currentShuffleSong = 0;

        console.log(sessionStorage.queue);
        console.log(sessionStorage.shufflequeue);

        console.log("tempItem" +sessionStorage.totalSongs);

    </script>

    <script> 
        sessionStorage.recountFriends ="true";
        sessionStorage.hostingSendButtonDisable = false;
        if (typeof(Storage) !== "undefined") {
            var storaged = sessionStorage.hello;
            console.log(storaged);
        } else {
            console.log("Sorry, your browser does not support web storage...");
          }
    </script>

</body>
</html>



