<!doctype html>
<html>
<head>
    <title>Stream</title>
    <!-- Default Header -->
    {{> default}}
    <!-- End Default Header -->
    <link href="/css/stream.css" rel="stylesheet">    
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="/js/stream.js"></script>
<!--     <style type="text/css"> 
    #friendName{
        color: #000080; 
    }
</style> -->
</head>
<body>       
    <center>
        <p id="chillin"></p>
        <div id="titleBar">
            <a href="home">
                <div id="back-container">
                    <h1 class="display-4"><</h1>
                </div>
            </a>
            <div id="title-container">
                <h1 id="title">Choose a Stream:</h1>
            </div>
        </div>
        <div id="middle">
            <div id="friend-list">

            {{#each session}}
                    <div class="friend" id="friend{{hostCode}}">
                        <div id="friendImgContainer">
                            <img class="picLoc{{hostCode}}" src="{{hostPic}}" id="hello" >
                        </div>
                        <div id="friendNameContainer">
                            <p class="h5 friendName{{hostCode}}" id="friendName">{{hostName}} ({{hostCode}})</p>
                        </div>
                    </div>
                    <br>


                    <script>
                        //assignm song+host number
                        sessionStorage.setItem('song{{hostCode}}', "{{songTitle}}");
                        sessionStorage.setItem('artist{{hostCode}}', "{{artist}}");
                        sessionStorage.setItem('album{{hostCode}}', "{{album}}");
                        sessionStorage.setItem('songImg{{hostCode}}', "{{songImg}}");
                        sessionStorage.setItem('host{{hostCode}}', "{{hostName}}");
                        sessionStorage.setItem('songID{{hostCode}}', "{{songID}}");
                        
                    </script>
                    {{/each}} 



                </div>
            </div>

            <div id="bottomBar">
                <button type="button" class="block" id="bottom-txt">
                    Continue to Song Selection
                </button>
            </div>


        </center>

        <script>
            document.getElementById("bottom-txt").addEventListener("click", function(event){
                document.getElementById("bottom-txt").innerHTML = "Please Select a Session";


               var toAppend = '<style type="text/css"> #bottom-txt{background-color: #DE7A7A; background-image: -webkit-gradient(linear, left top, left bottom, from(#DE7A7A), to(#DE2626));background-image: -webkit-linear-gradient(top, #DE7A7A, #DE2626);background-image: -moz-linear-gradient(top, #DE7A7A, #DE2626);background-image: -ms-linear-gradient(top, #DE7A7A, #DE2626);background-image: -o-linear-gradient(top, #DE7A7A, #DE2626);background-image: linear-gradient(to bottom, #DE7A7A, #DE2626);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#DE7A7A, endColorstr=#DE2626); font-size: 6vw;}</style>';

               $('#bottom-txt').append(toAppend.toString()); 

               event.stopPropagation();
               event.preventDefault();
           });
            function added() {
              document.getElementById("addFont").innerHTML = "Added";
              $("#addFont").css("background-color", "lightgreen");
              $("#addList").css("left", "50%");
          }
          function invited(){
            document.getElementById("inviteText").innerHTML = "Invited";
            $("#inviteFriend").css("background-color", "lightgreen");
        }
    </script>

</body>
</html>



